{{ define "main" }}
<style>
  .active-category {
    background-color: #e0e0e0; /* Example highlight color */
    border-radius: 5px; /* Optional: add some styling */
  }
</style>
<!-- Header & Hero -->
{{ partial "hero.html" . }}

<!-- desc -->
<div class="bg-white" id="projectList">
  <br />
  <br />
  <h2 class="text-[#0E773F] text-base font-semibold text-center mb-2 mt-4">
    {{ i18n "Lates8c4b2" }}
  </h2>
  <h2
    class="text-gray-800 text-2xl font-semibold text-center font-['Playfair Display'] font-serif mb-4"
  >
    {{ i18n "OurLa35d1e" }}
  </h2>
  <p
    class="p-7 font-sans text-sm antialiased font-light leading-relaxed text-gray-700 text-center rtl:text-right"
  >
    {{ i18n "Explocdaff" }}
  </p>
</div>
<!-- project body -->
<div class="bg-gray-50 mb-10">
  <div class="flex justify-between p-7">
    <div class="flex gap-4 flex-wrap justify-center w-full">
      <span
        class="cursor-pointer p-2 flex items-center gap-1 text-sm font-semibold text-gray-900 category"
        data-category="all"
      >
        <span class="material-symbols-outlined"> flag </span>
        <span class="text-center lg:block">{{ i18n "AllPrd869e" }}</span>
      </span>
      <span
        class="cursor-pointer p-2 flex items-center gap-1 text-sm font-semibold text-gray-900 category"
        data-category="completed"
      >
        <span class="material-symbols-outlined"> check_circle </span>
        <span class="lg:block">{{ i18n "Compl07ca5" }}</span>
      </span>
      <span
        class="cursor-pointer p-2 flex items-center gap-1 text-sm font-semibold text-gray-900 category"
        data-category="ongoing"
      >
        <span class="material-symbols-outlined"> pending </span>
        <span class="lg:block">{{ i18n "Ongoi7ee7d" }}</span>
      </span>
    </div>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap w-full justify-center gap-6">
      {{ range .Pages}}
      <div
        class="scale-90 relative flex w-full max-w-[20rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg project-card"
        data-completed="{{ .Params.completed }}"
        data-ongoing="{{ .Params.ongoing }}"
      >
        <div
          class="relative mx-2 mt-2 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40"
        >
          <img
            alt="project"
            class="object-cover w-full h-48"
            src="/notassets/Projects pics/{{ .Params.thumbnail }}"
          />
          <div
            class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-r from-transparent via-transparent to-black/60"
          ></div>
        </div>
        <div class="p-4">
          <div class="mb-2">
            <h5
              class="h-12 font-sans text-base antialiased font-medium leading-snug line-clamp-2 tracking-normal text-blue-gray-900"
            >
              {{ .Params.title}}
            </h5>
            <h5
              class="block font-sans text-sm antialiased font-normal leading-snug tracking-normal text-blue-gray-900"
            >
              {{ .Params.location }}
            </h5>
          </div>
          <p
            class="font-sans text-sm antialiased font-light leading-relaxed text-gray-700 mb-2 line-clamp-3"
          >
            {{ .Params.description }}
          </p>
          <h5
            class="block font-sans text-sm antialiased font-medium italic leading-snug tracking-normal text-[#3B4A3F]"
          >
            {{ i18n "Estima6071" }}
          </h5>
        </div>
        <div class="p-4 pt-2">
          <a
            class="block w-full select-none rounded-lg bg-[#3B4A3F] py-2.5 px-5 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            href="{{ .RelPermalink }}"
            type="button"
            >{{ i18n "ReadM4cd70" }}</a
          >
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const categories = document.querySelectorAll(".category");
    const projects = document.querySelectorAll(".project-card");

    categories.forEach((category) => {
      category.addEventListener("click", function () {
        // Remove 'active' class from all categories
        categories.forEach((cat) => cat.classList.remove("active-category"));

        // Add 'active' class to the clicked category
        this.classList.add("active-category");

        // Get the category type
        const categoryType = this.getAttribute("data-category");

        // Filter projects
        projects.forEach((project) => {
          if (categoryType === "all") {
            project.style.display = "block";
          } else if (project.getAttribute(`data-${categoryType}`) === "true") {
            project.style.display = "block";
          } else {
            project.style.display = "none";
          }
        });
      });
    });
  });
</script>

{{ end }}
