{{ define "main" }}
<!-- Header & Hero -->
{{ partial "hero.html" . }}

<style>
  .active-category {
    background-color: #e0e0e0; /* Example highlight color */
    border-radius: 5px; /* Optional: add some styling */
  }
</style>

<!-- desc -->
<div class="bg-white px-7">
  <h2 class="text-[#0E773F] text-base font-semibold text-center mb-2 mt-4">
    {{i18n "latest_workshops"}}
  </h2>
  <h2
    class="text-gray-800 text-2xl font-semibold text-center font-['Playfair Display'] font-serif mb-4"
  >
    {{i18n "our_latest_workshops"}}
  </h2>
  <p
    class="p-7 font-sans text-sm antialiased font-light leading-relaxed text-gray-700 text-center rtl:text-right"
  >
    {{i18n "explore_impact"}}
  </p>
</div>

<!-- workshop body -->
<div class="bg-gray-50" id="workshoppbody">
  <!-- Filters -->
  <div class="flex justify-between gap-4 flex-col items-center p-7 lg:flex-row">
    <!-- Left side filters -->
    <div
      class="flex gap-4 flex-col flex-wrap lg:flex-row"
      id="left-side-filters"
    >
      <span
        class="cursor-pointer border rounded-md p-2 flex items-center gap-1 text-sm font-semibold text-gray-900 category"
        data-category="all"
      >
        <span class="material-symbols-outlined">flag</span>
        <span class="text-center lg:block">{{ i18n "AllPrd869e" }}</span>
      </span>

      <span
        class="cursor-pointer border rounded-md p-2 flex items-center gap-1 text-sm font-semibold text-gray-900 category"
        data-category="Sustainable Development"
      >
        <span class="material-symbols-outlined">all_inclusive</span>
        <span class="lg:block">Sustainable Development</span>
      </span>

      <span
        class="cursor-pointer border rounded p-2 flex items-center gap-1 text-sm font-semibold text-gray-900 category"
        data-category="Professional Development"
      >
        <span class="material-symbols-outlined">business_center</span>
        <span class="lg:block">Professional Development</span>
      </span>
    </div>

    <!-- Right side dropdown for remaining categories -->
    <div class="">
      <button
        id="dropdownCategoryButton"
        data-dropdown-toggle="dropdownCategory"
        data-dropdown-delay="100"
        data-dropdown-trigger="hover"
        class="p-2 flex items-center border rounded-md gap-1 text-sm font-semibold text-gray-900 hover:text-gray-600 text-center"
        type="button"
      >
        More Categories
        <span class="material-symbols-outlined ml-2 w-4 h-4">
          keyboard_arrow_down
        </span>
      </button>

      <!-- Dropdown menu -->
      <div
        id="dropdownCategory"
        class="z-10 hidden bg-white bg-opacity-50 backdrop-blur-xl backdrop-filter divide-y divide-gray-100 rounded-lg shadow w-44"
      >
        <ul
          class="py-2 text-sm text-gray-700"
          aria-labelledby="dropdownCategoryButton"
        >
          <li>
            <span
              class="cursor-pointer flex items-center gap-4 px-4 py-2 hover:bg-gray-100 category"
              data-category="Personal Development"
            >
              <span class="material-symbols-outlined">self_improvement</span>
              <span>Personal Development</span>
            </span>
          </li>
          <li>
            <span
              class="cursor-pointer flex items-center gap-4 px-4 py-2 hover:bg-gray-100 category"
              data-category="Women's Empowerment"
            >
              <span class="material-symbols-outlined">woman</span>
              <span>Women’s Empowerment</span>
            </span>
          </li>
          <li>
            <span
              class="cursor-pointer flex items-center gap-4 px-4 py-2 hover:bg-gray-100 category"
              data-category="Special Needs Workshop"
            >
              <span class="material-symbols-outlined"
                >settings_accessibility</span
              >
              <span>Special Needs Workshop</span>
            </span>
          </li>
          <li>
            <span
              class="cursor-pointer flex items-center gap-4 px-4 py-2 hover:bg-gray-100 category"
              data-category="Community Design Workshops"
            >
              <span class="material-symbols-outlined">communities</span>
              <span>Community Design Workshops</span>
            </span>
          </li>
          <li>
            <span
              class="cursor-pointer flex items-center gap-4 px-4 py-2 hover:bg-gray-100 category"
              data-category="Environment Workshops"
            >
              <span class="material-symbols-outlined">eco</span>
              <span>Environment Workshops</span>
            </span>
          </li>
          <li>
            <span
              class="cursor-pointer flex items-center gap-4 px-4 py-2 hover:bg-gray-100 category"
              data-category="Miscellaneous Workshops"
            >
              <span class="material-symbols-outlined">stack_hexagon</span>
              <span>Miscellaneous Workshops</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Workshops -->
  <div class="w-full px-7">
    <div id="blur-overlay"></div>

    <div class="flex flex-wrap w-full justify-between" id="card-container">
      {{ range .Pages}}
      <div
        class="scale-90 mx-auto relative flex w-full max-w-[20rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg workshop-card"
        data-category="{{ .Params.categoryf }}"
      >
        <div
          class="relative overflow-hidden text-white shadow-lg rounded-t-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40"
        >
          <img
            loading="lazy"
            src="/notassets/Projects pics/{{ .Params.thumbnail }}"
            class="object-cover w-full h-48"
            alt="project"
          />
          <div
            class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-r from-transparent via-transparent to-black/60"
          ></div>
        </div>
        <div class="p-4">
          <div class="mb-2">
            <h5
              class="h-12 font-sans text-base antialiased font-medium leading-snug line-clamp-2 tracking-normal text-blue-gray-900"
            >
              {{ .Params.title }}
            </h5>
            <h5
              class="block font-sans text-sm antialiased font-normal leading-snug tracking-normal text-blue-gray-900"
            >
              {{ .Params.categoryf }}
            </h5>
          </div>
          <p
            class="font-sans text-sm antialiased font-light leading-relaxed text-gray-700 mb-2 line-clamp-3"
          >
            {{ .Params.description }}
          </p>
          <!-- <h5
            class="block font-sans text-sm antialiased font-medium italic leading-snug tracking-normal text-[#3B4A3F]"
          >
            {{i18n "instructor"}} : {{ .Params.instructor }}
          </h5> -->
        </div>
        <div class="p-4 pt-2">
          <button
            class="project-card block w-full select-none rounded-lg bg-[#3B4A3F] py-2.5 px-5 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-title="{{ .Params.title }}"
            data-description="{{ .Params.description }}"
            data-docurl="{{ .Params.document }}"
            data-img="/notassets/Projects pics/{{ .Params.thumbnail }}"
          >
            {{i18n "ReadM4cd70"}}
          </button>
        </div>
      </div>
      {{ end }}
    </div>
    <div
      class="mt-8 cursor-pointer mx-auto text-center pb-8"
      id="see-all-button"
    >
      <span class="font-normal text-green-700 hover:font-medium"
        >{{ i18n "SeeAl8317e" }}</span
      >
    </div>
  </div>
</div>
<script src="/js/workshops.js"></script>
{{ end }}
