{{define "main"}}
<!-- Header & Hero -->
<div class="h-screen overflow-hidden w-full">
  <!-- Hero -->
  <div
    class="relative flex justify-center gap-4 flex-col items-center mx-auto h-full w-full bg-cover bg-local"
    style="
      background-image: url('/notassets/project\ banner\ green\ version.png');
    "
  >
    <!-- Header -->
    {{partial "header.html" .}}
    <div
      class="mx-auto h-full w-full max-w-4xl max-h-96 bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 p-4 sm:p-6 flex items-center justify-center flex-col"
    >
      <div class="w-full px-4">
        <h2
          class="text-gray-200 text-xl sm:text-2xl font-semibold text-center font-['Playfair Display'] font-serif mb-4"
        >
          {{ i18n "Donat6fe8b" }}
        </h2>
        <p
          class="px-3 sm:px-7 font-sans text-sm sm:text-base antialiased font-light leading-relaxed text-gray-200 text-left rtl:text-right"
        >
          {{ i18n "Suppo6f0ef" }}
        </p>
      </div>
      <div
        class="mt-6 grid grid-cols-3 sm:grid-cols-3 gap-4 sm:gap-8 w-full px-4"
      >
        {{ range .Pages }}
        <div class="flex flex-col items-center">
          <a
            class="border border-gray-400 grayscale p-3 sm:p-4 rounded-md shadow-lg flex items-center justify-center w-20 h-20 sm:w-24 sm:h-24"
            href="{{.Params.link}}"
          >
            <img
              loading="lazy"
              alt="Logo"
              class="w-10 h-10 sm:w-12 sm:h-12"
              src="{{.Params.icon}}"
            />
          </a>
          <span
            class="mt-2 text-center text-xs sm:text-sm font-medium text-gray-100"
            >{{.Params.route}}</span
          >
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{end}}
