{{ define "main" }}
<!-- Your existing HTML content for the homepage -->
<style>
  #preloader {
    background: white url(notassets/preloder.gif) no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: 15%;
    position: fixed;
    z-index: 100;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
</style>
<div id="preloader"></div>

<!-- Header & Hero -->
{{ partial "hero.html" . }}

<!-- New Cards -->
<div class="flex justify-center bg-gray-50">
  <div
    class="flex justify-center flex-wrap w-full items-center px-4 sm:px-10 md:px-20 py-10 gap-8"
  >
    <!-- Card 1 -->
    <div
      class="flex flex-col w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 py-6 text-center items-center"
    >
      <div class="h-12 w-12 mb-4">
        <img
          loading="lazy"
          src="notassets/icons/donation.png"
          class="h-full w-full"
          alt="Donation Icon"
        />
      </div>
      <div class="flex flex-col">
        <span class="font-bold mb-2">{{ i18n "giveADonation" }}</span>
        <span class="text-gray-500 mb-4">
          {{ i18n "contributionMessage" }}
        </span>
      </div>
      <div class="flex items-center text-[#0E773F] gap-1">
        <span class="font-semibold">{{ i18n "giveADonation" }}</span>
        <span class="material-symbols-outlined"> arrow_circle_right </span>
      </div>
    </div>
    <!-- Card 2 -->
    <div
      class="flex flex-col w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 py-6 text-center items-center"
    >
      <div class="h-12 w-12 mb-4">
        <img
          loading="lazy"
          src="notassets/icons/team.png"
          class="h-full w-full"
          alt="Team Icon"
        />
      </div>
      <div class="flex flex-col">
        <span class="font-bold mb-2">{{ i18n "joinTheTeam" }} </span>
        <span class="text-gray-500 mb-4">
          {{ i18n "becomePartOfMission" }}
        </span>
      </div>
      <div class="flex items-center text-[#0E773F] gap-1">
        <span class="font-semibold">{{ i18n "joinUs1" }}</span>
        <span class="material-symbols-outlined"> arrow_circle_right </span>
      </div>
    </div>
    <!-- Card 3 -->
    <div
      class="flex flex-col w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 py-6 text-center items-center"
    >
      <div class="h-12 w-12 mb-4">
        <img
          loading="lazy"
          src="notassets/icons/contact-mail.png"
          class="h-full w-full"
          alt="Contact Icon"
        />
      </div>
      <div class="flex flex-col">
        <span class="font-bold mb-2">{{ i18n "getInContact" }}</span>
        <span class="text-gray-500 mb-4"> {{ i18n "contactMessage" }} </span>
      </div>
      <div class="flex items-center text-[#0E773F] gap-1">
        <span class="font-semibold">{{ i18n "contactUs1" }}</span>
        <span class="material-symbols-outlined"> arrow_circle_right </span>
      </div>
    </div>
  </div>
</div>
<!-- About Us -->
<div
  class="min-h-screen w-full overflow-hiddenbg-white flex flex-col justify-between"
>
  <!-- About Us -->
  <div class="w-full overflow-hidden bg-white py-8 flex-grow">
    <div
      class="max-w-4xl mx-auto flex flex-col md:flex-row items-center justify-between"
    >
      <!-- Text Section -->
      <div class="w-full md:w-1/2 mb-8 md:mb-0 text-center md:text-left px-7">
        <h2 class="text-[#0E773F] text-base font-semibold mb-2">
          {{ i18n "aboutUs" }}
        </h2>
        <h2
          class="text-gray-800 text-2xl md:text-3xl font-semibold font-['Playfair Display'] font-serif mb-2"
        >
          {{ i18n "causesWeCare" }}
        </h2>
        <p class="mb-4 text-justify max-w-md mx-auto md:mx-0">
          {{ i18n "aboutResilientComm" }}
        </p>
        <div
          class="flex flex-col md:flex-row gap-4 justify-center md:justify-start"
        >
          <a
            href="{{ .Site.BaseURL }}{{ .Lang }}/donation_page"
            class="text-white flex items-center justify-center gap-1 bg-[#0E773F] px-6 py-2 rounded-full font-bold min-w-[150px] hover:bg-[#0a5a2d]"
          >
            <span>{{ i18n "donateNow" }}</span>
            <span class="material-symbols-outlined">arrow_right_alt</span>
          </a>
          <a
            href="{{ .Site.BaseURL }}{{ .Lang }}/join_us"
            class="text-gray-800 flex items-center justify-center gap-1 border-gray-800 border-2 px-6 py-2 rounded-full font-bold min-w-[150px] hover:border-gray-600"
          >
            <span>{{ i18n "joinNow" }}</span>
            <span class="material-symbols-outlined">arrow_right_alt</span>
          </a>
        </div>
      </div>

      <!-- Image Section -->
      <div class="w-full md:w-1/2 px-7">
        <img
          loading="lazy"
          class="object-cover w-full h-auto rounded-lg shadow-lg"
          src="notassets/collage-white.png"
          alt="Collage Image"
        />
      </div>
    </div>
  </div>

  <!-- Stats -->
  <div class="w-full bg-[#DEB887] py-8">
    <div class="flex justify-center items-center h-full">
      <div
        class="flex flex-col md:flex-row items-center divide-y md:divide-y-0 md:divide-x divide-[#0E773F] rtl:divide-x-reverse"
      >
        <div
          class="py-4 md:py-0 md:pr-10 rtl:md:pl-10 flex flex-col items-center"
        >
          <span class="text-[#FFF8EC] text-lg">{{ i18n "partners" }}</span>
          <span
            class="text-[#0E773F] font-['Playfair Display'] font-serif text-2xl"
          >
            11+
          </span>
        </div>

        <div class="py-4 md:py-0 md:px-10 flex flex-col items-center">
          <span class="text-[#FFF8EC] text-lg">{{ i18n "happyDonors" }}</span>
          <span
            class="text-[#0E773F] font-['Playfair Display'] font-serif text-2xl"
          >
            57+
          </span>
        </div>

        <div class="py-4 md:py-0 md:px-10 flex flex-col items-center">
          <span class="text-[#FFF8EC] text-lg">{{ i18n "volunteers" }}</span>
          <span
            class="text-[#0E773F] font-['Playfair Display'] font-serif text-2xl"
          >
            32+
          </span>
        </div>

        <div
          class="py-4 md:py-0 md:pl-10 rtl:md:pr-10 flex flex-col items-center"
        >
          <span class="text-[#FFF8EC] text-lg">{{ i18n "amountDonated" }}</span>
          <span
            class="text-[#0E773F] font-['Playfair Display'] font-serif text-2xl"
          >
            $10K+
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- projects -->

<div
  class="min-h-screen overflow-hidden w-full mb-10 bg-gray-50 flex flex-col justify-center"
>
  <h2
    class="text-[#0E773F] text-base font-semibold text-center mb-2 mt-10 lg:mt-2"
  >
    {{ i18n "latestProjectsCauses" }}
  </h2>
  <h2
    class="text-gray-800 text-2xl font-semibold text-center font-['Playfair Display'] font-serif mb-4"
  >
    {{ i18n "ourLatestProjects" }}
  </h2>
  <div class="flex flex-wrap w-full justify-center gap-10">
    {{ with .Site.GetPage "/projects" }} {{ range first 3 (sort .Pages "Date"
    "desc") }}
    <div
      class="scale-90 relative flex w-full max-w-[20rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg project-card"
      data-completed="{{ .Params.completed }}"
      data-ongoing="{{ .Params.ongoing }}"
    >
      <div
        class="relative mx-2 mt-2 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40"
      >
        <img
          loading="lazy"
          alt="project"
          class="object-cover w-full h-48"
          src="/notassets/Projects pics/{{ .Params.thumbnail }}"
        />
        <div
          class="absolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-r from-transparent via-transparent to-black/60"
        ></div>
      </div>
      <div class="p-4">
        <div class="mb-2">
          <h5
            class="h-12 font-sans text-base antialiased font-medium leading-snug line-clamp-2 tracking-normal text-blue-gray-900"
          >
            {{ .Params.title}}
          </h5>
          <h5
            class="block font-sans text-sm antialiased font-normal leading-snug tracking-normal text-blue-gray-900"
          >
            {{ .Params.location }}
          </h5>
        </div>
        <p
          class="font-sans text-sm antialiased font-light leading-relaxed text-gray-700 mb-2 line-clamp-3"
        >
          {{ .Params.description }}
        </p>
        <h5
          class="block font-sans text-sm antialiased font-medium italic leading-snug tracking-normal text-[#3B4A3F]"
        >
          {{ i18n "Estima6071" }}
        </h5>
      </div>
      <div class="p-4 pt-2">
        <a
          class="block w-full select-none rounded-lg bg-[#3B4A3F] py-2.5 px-5 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          href="{{ .RelPermalink }}"
          type="button"
          >{{ i18n "ReadM4cd70" }}</a
        >
      </div>
    </div>
    {{ end }} {{ end }}
  </div>
  <a
    href="#"
    class="text-[#0e773faf] text-base font-semibold text-center mb-2 mt-2 hover:text-[#0e773f]"
  >
    <span class="underline underline-offset-8">{{ i18n "seeMore" }}</span>
  </a>
</div>
<span class="flex items-center">
  <span class="h-px flex-1 bg-gray-200"></span>
</span>
<!-- latest news -->
<div
  class="min-h-screen mb-10 overflow-hidden w-full bg-gray-50 flex flex-col justify-center"
>
  <h2
    class="text-[#0E773F] text-base font-semibold text-center mb-2 mt-10 lg:mt-2"
  >
    {{ i18n "latestNewsArticles" }}
  </h2>
  <h2
    class="text-gray-800 text-2xl font-semibold text-center font-['Playfair Display'] font-serif mb-4"
  >
    {{ i18n "ourLatestBlogs" }}
  </h2>
  <div class="flex flex-wrap w-full justify-center gap-10">
    <!-- Row -->
    {{ with .Site.GetPage "/articles" }} {{ range first 3 (sort .Pages "Date"
    "desc") }}
    <div
      class="shadow-lg relative scale-x-90 scale-y-95 flex max-w-[20rem] max-h-[26rem] flex-col bg-white bg-clip-border"
    >
      <div class="relative m-0 overflow-hidden h-1/2">
        <img
          loading="lazy"
          src="{{ .Params.thumbnail }}"
          alt="{{ .Params.title }}"
          class="h-full w-full object-cover"
        />
      </div>
      <div class="w-full h-1/2">
        <div class="pt-4 px-4 pb-2 text-gray-800">
          <h4
            class="block text-lg font-semibold mb-2 font-['Playfair Display'] font-serif"
          >
            {{ .Params.title }}
          </h4>
          <p class="mb-2 line-clamp-3">{{ .Params.quickRead }}</p>
        </div>
        <div class="flex items-center justify-between px-4 pb-4 text-[#0E773F]">
          <span class="flex items-center gap-2">
            <a href="{{ .Permalink }}" class="font-semibold">
              {{ i18n "ReadM4cd70" }}
            </a>
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </span>
        </div>
      </div>
    </div>
    {{ end }} {{ end }}
  </div>

  <a
    href="#"
    class="text-[#0e773faf] text-base font-semibold text-center mb-2 mt-2 hover:text-[#0e773f]"
  >
    <span class="underline underline-offset-8">{{ i18n "seeMore" }}</span>
  </a>
</div>

<script>
  function sleep(ms) {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  var loader = document.getElementById("preloader");

  // Hide preloader after 3 seconds
  setTimeout(() => {
    loader.style.opacity = "0";
    setTimeout(() => {
      loader.style.display = "none";
    }, 500); // Adjust the delay based on your transition duration
  }, 1000); // 3000ms = 3 seconds
</script>

{{ end }}
