{{ define "main" }}
<style>
  .box-one > article:nth-child(1) {
    padding-top: 0;
    padding-bottom: 0.125rem;
    padding-right: 0.125rem;
  }
  .box-one > article:nth-child(2) {
    padding-top: 0;
    padding-bottom: 0.125rem;
    padding-left: 0.125rem;
  }
  .box-one > article:nth-child(3) {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-right: 0.125rem;
  }
  .box-one > article:nth-child(4) {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.125rem;
  }
  .max-h-98 {
    max-height: 24.3rem;
  }
</style>
<!-- Header & Hero -->
{{ partial "hero.html" . }}

<!-- hero big grid -->
<div class="bg-white py-6">
  <div class="w-full py-3 flex items-center justify-center flex-col">
    <h2 class="text-gray-800 text-2xl font-bold pb-3">
      {{ i18n "Artic1eda1" }}
    </h2>
  </div>
  <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
    <div class="w-full py-3">
      <h2 class="text-gray-800 text-2xl font-bold" id="recentpost">
        <span class="inline-block h-5 border-l-4 border-green-600 mr-2"></span
        >{{ i18n "Recen38471" }}
      </h2>
    </div>
    <!-- big grid 1 -->
    <div class="flex flex-row flex-wrap">
      <!-- Start left cover -->
      <div class="flex-shrink max-w-full w-full lg:w-1/2 pb-1 lg:pb-0 lg:pr-1">
        <div class="relative hover-img max-h-98 overflow-hidden">
          {{ $firstArticle := index (.Pages | first 5) 0 }}
          <a href="{{ $firstArticle.RelPermalink }}">
            <img
              loading="lazy"
              alt="{{ $firstArticle.Params.title }}"
              class="max-w-full w-full mx-auto h-auto"
              src="{{ $firstArticle.Params.thumbnail }}"
            />
          </a>
          <div
            class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40"
          ></div>
          <div
            class="absolute px-5 pt-8 pb-5 bottom-0 w-full bg-gradient-cover"
          >
            <a href="{{ $firstArticle.RelPermalink }}">
              <h2 class="text-3xl font-bold capitalize text-white mb-3">
                {{ $firstArticle.Params.title }}
              </h2>
            </a>
            <p class="text-gray-100 hidden sm:inline-block">
              {{ $firstArticle.Params.description }}
            </p>
            <div class="pt-2">
              <div class="text-gray-100">
                <div
                  class="inline-block h-3 border-l-2 border-green-600 mr-2"
                ></div>
                {{ $firstArticle.Params.tag }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start box news -->
      <div class="flex-shrink max-w-full w-full lg:w-1/2">
        <div class="box-one flex flex-row flex-wrap">
          {{ $articles := slice (index (.Pages | first 5) 1) (index (.Pages |
          first 5) 2) (index (.Pages | first 5) 3) (index (.Pages | first 5) 4)
          }} {{ range $articles }}
          <article class="flex-shrink max-w-full w-full sm:w-1/2">
            <div class="relative hover-img max-h-48 overflow-hidden">
              <a href="{{ .RelPermalink }}">
                <img
                  loading="lazy"
                  alt="{{ .Params.title }}"
                  class="w-full h-48 object-cover"
                  src="{{ .Params.thumbnail }}"
                />
              </a>
              <div
                class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40"
              ></div>
              <div
                class="absolute px-4 pt-7 pb-4 bottom-0 w-full bg-gradient-cover"
              >
                <a href="{{ .RelPermalink }}">
                  <h2
                    class="text-lg font-bold capitalize leading-tight text-white mb-1"
                  >
                    {{.Params.title}}
                  </h2>
                </a>
                <div class="pt-1">
                  <div class="text-gray-100">
                    <div
                      class="inline-block h-3 border-l-2 border-green-600 mr-2"
                    ></div>
                    {{.Params.tag}}
                  </div>
                </div>
              </div>
            </div>
          </article>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- block news -->
<div class="bg-white py-6">
  <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
    <div class="flex flex-row flex-wrap">
      <div class="flex-shrink max-w-full w-full overflow-hidden">
        <div class="w-full py-3">
          <h2 class="text-gray-800 text-2xl font-bold">
            <span
              class="inline-block h-5 border-l-4 border-green-600 mr-2"
            ></span
            >{{ i18n "AllBl1653f" }}
          </h2>
        </div>
        <div class="flex flex-row flex-wrap -mx-3">
          {{range .Pages}}
          <div
            class="flex-shrink max-w-full w-full sm:w-1/2 lg:w-1/4 px-3 pb-3 pt-3 sm:pt-0 border-b-2 sm:border-b-0 border-dotted border-gray-100"
          >
            <div class="flex flex-col hover-img">
              <a href="{{ .RelPermalink }}">
                <img
                  loading="lazy"
                  alt="alt title"
                  class="max-w-full w-full mx-auto rounded-lg h-48 object-cover"
                  src="{{ .Params.thumbnail }}"
                />
              </a>
              <div class="py-3 pl-3 sm:pl-0">
                <h3 class="text-lg font-bold leading-tight mb-2">
                  <a href="{{ .RelPermalink }}">{{ .Params.title }}</a>
                </h3>
                <p class="text-gray-600 leading-tight mb-1 line-clamp-2">
                  {{ .Params.quickRead }}
                </p>
                <a class="text-gray-500" href="#"
                  ><span
                    class="inline-block h-3 border-l-2 border-green-600 mr-2"
                  ></span
                  >{{ .Params.tag }}</a
                >
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
